@use '../abstract/' as *;

$layout-name: 'l-header';

.#{$layout-name}{
    @apply grid grid-rows-[44px_fit-content(62.5rem)] fixed top-0 z-40 w-full bg-white shadow-header transition-all duration-[1s] ease-[ease-out];

    &__wrapper{
        @apply flex justify-between items-center px-[0.875rem] bg-color-main;

        .c-list,
        .c-social-media{
            @apply hidden;

            @include breakpoint(min-md){
                @apply flex;
             };
        }
    }

    .c-navigation{
        @apply py-[1.5rem] px-[1.25rem] relative;

        @include breakpoint(min-xl){
            @apply grid-cols-[repeat(3,fit-content(62.5rem))];
        };

        .c-list{
            @apply absolute top-0 flex-col items-start text-[0.9375rem] h-[calc(100vh+3.125rem)] w-screen p-[0.75rem] translate-x-full bg-white text-color-text;

            @include breakpoint(max-xl){
                @apply transition-all duration-[500ms];
            };

            @include breakpoint(min-sm){
               @apply w-[18.75rem];
            };

            @include breakpoint(min-xl){
               @apply flex flex-row static h-auto w-auto translate-x-0 bg-inherit;
            };

            &__content{
                @include breakpoint(max-xl){
                    @apply w-screen;

                    @include breakpoint(min-sm){
                       @apply absolute left-[50%] top-0 w-[18.75rem] h-[calc(100vh+3.125rem)] z-[100] bg-transparent;
                    };
                };
            } 

            &.u-toggle{
                @include breakpoint(max-xl){
                    @apply shadow-header translate-x-0;
                };

                .c-list{
                    &__item{
                        @include breakpoint(max-xl){
                            @apply flex items-center justify-between w-full static;
                        };

                        &:hover{
                            .c-list__link{
                                @include breakpoint(max-xl){
                                    @apply bg-transparent text-color-main-constrast transition-none;
                                };
                            }
                        }
                    }

                    &__content{
                        @include breakpoint(max-xl){
                           @apply top-0 right-0 h-screen bg-white;
                           translate: 100% 0;
                        };

                        &.u-toggle{
                            @include breakpoint(max-xl){
                                translate: -50% 0;
                                rotate: x 0deg
                            };
                        }
                    }

                    &__submenu{
                        @include breakpoint(max-xl){
                            @apply flex flex-col bg-inherit border-none p-[0.75rem] gap-[1rem];
                        };

                        &::after{
                            @include breakpoint(max-xl){
                                @apply hidden;
                            };
                        }
                    }

                    &__link{
                        @apply flex items-center justify-between w-full;

                        &-arrow{
                            @include breakpoint(max-xl){
                               rotate: z .75turn;
                            };
                        }
                    }
                }
            }

            &__link{
                &-text{
                    @apply underline;
                }

                &-arrow{
                    @apply text-[0.625rem] 
                }
            }

            &__content,
            &__submenu{
                @apply min-w-[150px];

                &--teen{
                    @apply min-w-[200px];
                }

                &--tour{
                    @apply min-w-[100px];
                }
            }

            .c-close{
                @include breakpoint(min-xl){
                   @apply hidden;
                };
            }
        }

     
        .c-switch{
            &--menu{
                @apply flex order-2;
                
                @include breakpoint(min-xl){
                    @apply hidden
                };
            }
        }
    }
}