@use '../abstract/' as *;

$layout-name: 'l-header';

.#{$layout-name}{
    @apply grid grid-rows-[44px_fit-content(62.5rem)] fixed top-0 z-40 w-full bg-white shadow-header;
    transition: all 1s ease-out;

    &__wrapper{
        @apply flex justify-between items-center px-[0.875rem] bg-color-main;

        .c-list,
        .c-social-media{
            @apply hidden;

            @include breakpoint(min-md){
                @apply flex;
             };
        }
    }

    .c-navigation{
        @apply py-[1.5rem] px-[1.25rem] relative;

        @include breakpoint(min-xl){
            @apply grid-cols-[repeat(3,fit-content(62.5rem))];
        };

        .c-list{
            @apply absolute top-0 flex-col items-start text-[0.9375rem] h-[calc(100vh+3.125rem)] w-screen p-3 translate-x-full bg-white text-color-text;
            @include breakpoint(max-xl){
               transition: all 500ms;
            };

            @include breakpoint(min-sm){
               @apply w-[18.75rem];
            };

            @include breakpoint(min-xl){
               @apply flex flex-row static h-auto w-auto translate-x-0 bg-inherit;
            };

            &__content{
                @include breakpoint(max-xl){
                    @apply absolute left-[50%] top-0 w-[18.75rem] h-[calc(100vh+3.125rem)] z-[100] bg-transparent;
                };

                @include breakpoint(max-sm){
                   @apply w-screen;
                };
            } 

            &.u-toggle{
                @apply shadow-header translate-x-0 ;

                @include breakpoint(min-xl){
                   @apply h-auto w-auto bg-inherit shadow-none;
                };

                .c-list{
                    &__item{
                        @include breakpoint(max-xl){
                            @apply flex items-center justify-between w-full static;
                        };

                        &:hover{
                            .c-list__content{
                                @apply bg-transparent;

                                @include breakpoint(max-xl){
                                    @apply bg-white;
                                };
                            }
                            
                            .c-list__link{
                                @include breakpoint(max-xl){
                                    @apply bg-transparent text-color-main-constrast;
                                    transition: none
                                };
                                
                            }
                        }
                    }

                    &__content{
                        @include breakpoint(max-xl){
                           @apply top-0 right-0 h-screen bg-white;
                           transform-origin: right center;
                           transform: translate(100%);
                        };

                        &.u-toggle{
                            @include breakpoint(max-xl){
                                @apply top-0 right-0 h-screen;
                                transform-origin: right center;
                                transform: translateX(-50%) rotateX(0deg);
                            };
                        }
                    }

                    &__submenu{
                        @include breakpoint(max-xl){
                            @apply flex flex-col bg-inherit border-none p-3 gap-[1rem];
                        };

                        &:after{
                            @include breakpoint(max-xl){
                                @apply bg-inherit border-none;
                            };
                        }
                    }

                    &__link{
                        @apply flex items-center justify-between w-full;

                        &-arrow{
                            @include breakpoint(max-xl){
                               transform: rotate(.75turn)
                            };
                        }
                    }
                }
            }

            &__close{
                @apply flex;

                @include breakpoint(min-xl){
                   @apply hidden;
                };
            }

            &__link{
                &-text{
                    @apply underline;
                }

                &-arrow{
                    @apply text-[0.625rem] 
                }
            }

            &__content,
            &__submenu{
                @apply min-w-[150px];

                &--teen{
                    @apply min-w-[200px];
                }

                &--tour{
                    @apply min-w-[100px];
                }
            }

            &__submenu{
                .c-close{
                    @include breakpoint(min-xl){
                       @apply hidden;
                    };
                }
            }
        }

     
        .c-switch{
            &--menu{
                @apply flex order-2;
                
                @include breakpoint(min-xl){
                    @apply hidden
                };
            }
        }
    }
}